.chat-input-container {
  display: flex;
  gap: 10px;
  padding: 14px;
  border-top: 1px solid #ddd;
  background: #fafafa;
}

.input-field {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #c5c5c5;
  border-radius: 99px;
}

.send-button {
  height: 42px;
  width: 42px;
  background-color: #0A84FF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.send-button img {
  height: 18px;
  width: 18px;
}

.send-button:disabled {
  opacity: .4;
}